h1 {
	color: #0000FF;
}

h2, h3 {
	color: #FF0000;
}

form {
	align: center;
}

span {
	color: #FF0000;
}

.footer-span {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.h2-align {
	text-align: center;
	margin-right: 500px;
}