<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="starter-template">
			<form action="save" method="post">
				<table>
					<tr>
						<td><label for="user-name">User Name</label></td>
						<td><input type="text" name="name"></input></td>
					</tr>
					<tr>
						<td><label for="email">Email</label></td>
						<td><input type="text" name="email"></input></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Submit"></input></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
