<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="starter-template">
		<span th:text="${user.name}"/>
			<!-- <table>
				<tr>
					<td><h4>User Name:</h4></td>
					<td><h4 th:text="${user.name}"></h4></td>
				</tr>
				<tr>
					<td><h4>Email ID:</h4></td>
					<td><h4 th:text="${user.email}"></h4></td>
				</tr>
			</table> -->
		</div>
	</div>
	<a href="/click">Save </a>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
